<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="acts_model">

<xacro:include filename='components/ugv.xacro' /> 
<xacro:include filename='components/payload.xacro' /> 

<link name='world'/>
<xacro:add_ugv
    id="1"
    length="5.0"
    x="0" y="0" z="0"
    cable_len="2.0"
    />

<xacro:payload
    x="2.0" y="1.0" z="2.0"
    />
  

<xacro:add_ugv
  id="2"
  length="5.0"
  x="2" y="2" z="0"
  cable_len="2.0"
  />

  <xacro:add_ugv
  id="3"
  length="5.0"
  x="-1" y="1" z="0"
  cable_len="2.0"
  />

</robot>