<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="acts_system">

  <xacro:include filename="panel.urdf.xacro" />
  <xacro:include filename="uav_cable_assembly.urdf.xacro" />

  <link name="world"/>

  <xacro:panel_platform 
    prefix="main_panel_" 
    mass="2.5" width="2.0" depth="2.0" height="0.2" />

  <xacro:add_drone id="1" x="0"  y="1"  z="1.2" segments="10" length="1" primary="true" />
  <xacro:add_drone id="2" x="0"  y="0" z="1.2" segments="10"  length="1" handle_id="2" />

  <!--<xacro:add_drone id="3" x="1" y="3" z="1.2" segments="10"  length="1" handle_id="3" />
  <xacro:add_drone id="4" x="2" y="3"  z="1.2" segments="10"  length="1" handle_id="4" /> -->

</robot>