<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="acts_system">

  <xacro:include filename="$(find acts_simulator)/urdf/components/cable_component.xacro" />
  <xacro:include filename="$(find acts_simulator)/urdf/components/pulley.xacro" />

  <link name="world"/>

  <xacro:position_controlled_pulley prefix="pulley_A" parent_link="world" />

  <xacro:arg name="x" default="0.0"/>
  <xacro:arg name="y" default="0.0"/>
  <xacro:arg name="z" default="0.0"/>
  <xacro:arg name="length" default="5.0"/>
  <xacro:arg name="orientation" default="0.0"/>

  <xacro:uav_cable 
    prefix="" 
    parent_link="base_pulley_A_z_link" 
    is_flexible="true" 
    x="$(arg x)" 
    y="$(arg y)" 
    z="$(arg z)" 
    segments="20" 
    length="$(arg length)" 
    radius="0.01" 
    mass="0.1" 
    orientation="$(arg orientation)" />

  <xacro:forceTorque_controlled_pulley prefix="pulley_B" parent_link="link_20" />


  <gazebo>
    <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
      <parameters>$(find acts_simulator)/config/cable_controller.yaml</parameters>
    </plugin>
  </gazebo>
</robot>