<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="acts_system">

  <xacro:include filename="$(find acts_simulator)/urdf/components/cable_guide.xacro" />

  <link name="world"/>

  <xacro:cable_guide prefix="pulleyA" 
    parent_link="world"
    x="0" y="0" z="11"
  />

  <xacro:cable_guide prefix="pulleyB" 
    parent_link="world"
    x="0" y="0" z="8"
  />


 
</robot>