<xacro:macro name="cylinder_inertia" params="m r h">
  <inertial>
    <mass value="${m}"/>
    <inertia ixx="${(m/12) * (3*r*r + h*h)}" ixy="0.0" ixz="0.0"
             iyy="${(m/12) * (3*r*r + h*h)}" iyz="0.0"
             izz="${(m/2) * (r*r)}"/>
  </inertial>
</xacro:macro>

<xacro:macro name="cable_segment" parent_xyz:='0 0 0' params="name m r h color">
  <link name="${name}">
    <xacro:cylinder_inertia m="${m}" r="${r}" h="${h}" />
    <visual>
      <geometry>
        <cylinder radius="${r}" length="${h}"/>
      </geometry>
      <material name="${color}"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${r}" length="${h}"/>
      </geometry>
    </collision>
  </link>
</xacro:macro>