<?xml version="1.0" encoding="utf-8"?>
<!--
This files has been modified starting from:
File: crazy2fly.urdf.xacro
Project: Quadrotor Control Lab
File Created: Tuesday, 25th November 2025 9:06:25 AM
Author: nknab
Email: kojo.anyinam-boateng@ls2n.fr
Version: 1.0.0
Brief: Xacro file for crazy2fly robot description.
~~~~~
Last Modified: Tuesday, 25th November 2025 10:53:10 PM
Modified By: nknab
~~~~~
Copyright ©2025 nknab
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="crazy2fly">

	<!-- Arguments -->
	<xacro:arg name="namespace" default="" />
	<xacro:arg name="fixed" default="false" />


	<!-- CONSTANTS -->
	<xacro:property name="QCL_PACKAGE_NAME" value="acts_simulator" />

	<xacro:property name="BASE_MESH_PATH" value="package://${QCL_PACKAGE_NAME}/meshes" />
	<xacro:property name="BASE_CONFIG_PATH" value="$(find ${QCL_PACKAGE_NAME})/config" />


	<!-- VARIABLES -->
	<xacro:if value="${'$(arg namespace)' != ''}">
		<xacro:property name="ns" value="$(arg namespace)/" />
	</xacro:if>
	<xacro:unless value="${'$(arg namespace)' != ''}">
		<xacro:property name="ns" value="" />
	</xacro:unless>


	<!-- IMPORTS -->
	<xacro:include filename="macros/inertial.xacro" />
	<xacro:include filename="macros/properties.xacro" />
	<xacro:include filename="macros/child.xacro" />

	<xacro:include filename="components/core.xacro" />
	<xacro:include filename="components/propeller.xacro" />

	<xacro:include filename="sensors/imu.xacro" />

	<xacro:macro name="crazy2fly" params="prefix"> 

	<!-- BASE LINK -->
	<link name="${prefix}base_link">
		<inertial>
			<mass value="1.0" />
			<origin xyz="0 0 0" rpy="0 0 0" />
			<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.02" />
		</inertial>
		<collision name="${prefix}base_collision">
			<geometry>
			<box size="0.3 0.3 0.15"/>
			</geometry>
		</collision>
	</link>


	<!-- CORE -->
	<xacro:core parent_link="${prefix}base_link" prefix="${prefix}">
		<origin xyz="0 0 0" rpy="0 0 0" />
	</xacro:core>


	<!-- IMU SENSOR -->
	<xacro:imu parent_link="${prefix}c2f" drone_prefix="${prefix}" sensor="px4" ns="${ns}">
		<origin xyz="0 0 0.0315" rpy="0 0 0" />
	</xacro:imu>


	<!-- PROPELLERS -->
	<xacro:property name="prop_xy_offset" value="0.17" />
	<xacro:property name="prop_z_offset" value="0.017" />
	<xacro:property name="prop_Y" value="${radians(90)}" />

	<xacro:prop parent_link="${prefix}base_link" drone_prefix="${prefix}" prefix="front" motor_number="2">
		<origin xyz="${prop_xy_offset} 0 ${prop_z_offset}" rpy="0 0 0" />
	</xacro:prop>

	<xacro:prop parent_link="${prefix}base_link" drone_prefix="${prefix}" prefix="back" motor_number="3">
		<origin xyz="-${prop_xy_offset} 0 ${prop_z_offset}" rpy="0 0 0" />
	</xacro:prop>

	<xacro:prop parent_link="${prefix}base_link" drone_prefix="${prefix}" prefix="right" prop_type="ccw" motor_number="0">
		<origin xyz="0 -${prop_xy_offset} ${prop_z_offset}" rpy="0 0 ${prop_Y}" />
	</xacro:prop>

	<xacro:prop parent_link="${prefix}base_link" drone_prefix="${prefix}" prefix="left" prop_type="ccw" motor_number="1">
		<origin xyz="0 ${prop_xy_offset} ${prop_z_offset}" rpy="0 0 ${prop_Y}" />
	</xacro:prop>

	<!-- GAZEBO PLUGINS -->
	<gazebo>
		<!-- JOINT STATES -->
		<plugin filename="gz-sim-joint-state-publisher-system" 
		name="gz::sim::systems::JointStatePublisher">
		<topic>${ns}${prefix}joint_states</topic>
		<joint_name>${prefix}front_cw_propeller_joint</joint_name>
		<joint_name>${prefix}back_cw_propeller_joint</joint_name>
		<joint_name>${prefix}right_ccw_propeller_joint</joint_name>
		<joint_name>${prefix}left_ccw_propeller_joint</joint_name>
	</plugin>

		<!-- ODOMETRY PUBLISHER -->
	<plugin name="gz::sim::systems::OdometryPublisher" filename="gz-sim-odometry-publisher-system">
		<odom_publish_frequency>100</odom_publish_frequency>
		<dimensions>3</dimensions>
		
		<odom_frame>world</odom_frame>
		<robot_base_frame>acts_system::${prefix}base_link</robot_base_frame>
		
		<odom_topic>${ns}${prefix}mocap/odom</odom_topic>
		<tf_topic>${ns}${prefix}tf</tf_topic>
	</plugin>

		<plugin filename="gz-sim-pose-publisher-system"
				name="gz::sim::systems::PosePublisher">
			<publish_link_pose>true</publish_link_pose>
			<publish_sensor_pose>false</publish_sensor_pose>
			<publish_collision_pose>false</publish_collision_pose>
			<publish_visual_pose>false</publish_visual_pose>
			<publish_nested_model_pose>false</publish_nested_model_pose>
			<use_pose_vector_msg>true</use_pose_vector_msg>
			<static_publisher>false</static_publisher>
			<publish_frequency>100</publish_frequency>
		</plugin>


		<!-- DETACHABLE JOINT -->
		<xacro:if value="$(arg fixed)">
		<plugin filename="gz-sim-detachable-joint-system" name="gz::sim::systems::DetachableJoint">
			<parent_link>${prefix}base_link</parent_link>
			<child_model>${prefix}fixed_support</child_model>
			<child_link>${prefix}fixed_support_link</child_link>
		</plugin>
		</xacro:if>
	</gazebo>

</xacro:macro> 
</robot>