<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- PARAMETERS -->
  <xacro:property name="p_mass" value="1.0" />
  <xacro:property name="p_width" value="1" />
  <xacro:property name="p_depth" value="1" />
  <xacro:property name="p_height" value="0.1" />

    <!-- inertia -->
  <xacro:macro name="panel_box_inertia" params="m w d h">
    <inertial>
      <mass value="${m}"/>
      <inertia ixx="${(m/12) * (d*d + h*h)}" ixy="0.0" ixz="0.0"
               iyy="${(m/12) * (w*w + h*h)}" iyz="0.0"
               izz="${(m/12) * (w*w + d*d)}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="panel_platform" params="prefix">
    <link name="${prefix}base_link">
      <xacro:panel_box_inertia m="${p_mass}" w="${p_width}" d="${p_depth}" h="${p_height}" />
      
      <visual>
        <geometry>
          <box size="${p_width} ${p_depth} ${p_height}"/>
        </geometry>
        <material name="grey"><color rgba="0.5 0.5 0.5 1"/></material>
      </visual>
      
      <collision>
        <geometry>
          <box size="${p_width} ${p_depth} ${p_height}"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>

</robot>