<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="panel_box_inertia" params="m w d h">
    <inertial>
      <mass value="${m}"/>
      <inertia ixx="${(m/12) * (d*d + h*h)}" ixy="0.0" ixz="0.0"
               iyy="${(m/12) * (w*w + h*h)}" iyz="0.0"
               izz="${(m/12) * (w*w + d*d)}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="panel_platform" params="prefix">
    <link name="${prefix}base_link">
      <xacro:panel_box_inertia m="1.0" w="0.4" d="0.4" h="0.1" />
      <visual>
        <geometry><box size="0.4 0.4 0.1"/></geometry>
        <material name="grey"><color rgba="0.5 0.5 0.5 1"/></material>
      </visual>
      <collision>
        <geometry><box size="0.4 0.4 0.1"/></geometry>
      </collision>
    </link>
  </xacro:macro>

</robot>