<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find acts_simulator)/urdf/crazy2fly.urdf.xacro" />
  <xacro:include filename="$(find acts_simulator)/urdf/components/cable_component.xacro" />

<xacro:macro name="add_drone" params="id segments length x_off:=0 y_off:=0 z_off:=0 cable_roll:=0 cable_pitch:=0 cable_yaw:=0 panel_link:=''">
    <xacro:property name="prefix" value="drone${id}_" />
    <xacro:crazy2fly prefix="${prefix}" />

        <link name="${prefix}cable_root_link">
            <inertial>
                <mass value="0.0001"/>
                <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
            </inertial>
        </link>

        <!-- If panel provided, attach panel to cable root -->
    <xacro:unless value="${panel_link == ''}">
        <joint name="${prefix}panel_to_cable_joint" type="fixed">
            <parent link="${panel_link}"/>
            <child link="${prefix}cable_root_link"/>
            <origin xyz="${x_off} ${y_off} ${float(z_off)}" rpy="0 0 0"/>
        </joint>
    </xacro:unless>

    <!-- Cable hangs from cable_root_link -->
    <xacro:uav_cable 
        prefix="${prefix}" 
        parent_link="${prefix}cable_root_link"
        is_flexible="true"
        segments="${segments}" 
        length="${length}"
        cable_roll="${cable_roll}" 
        cable_pitch="${cable_pitch}"
        cable_yaw="${cable_yaw}"
        radius="0.005" mass="0.01" />

    <!-- Drone is child of cable tip link_${segments} -->
    <joint name="${prefix}cable_to_drone_joint" type="fixed">
        <parent link="${prefix}link_${segments}"/>
        <child link="${prefix}base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    </xacro:macro>
</robot>