<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="cylinder_inertia" params="m r h">
    <inertial>
      <mass value="${m}"/>
      <inertia ixx="${(m/12) * (3*r*r + h*h)}" ixy="0.0" ixz="0.0"
               iyy="${(m/12) * (3*r*r + h*h)}" iyz="0.0"
               izz="${(m/2) * (r*r)}"/>
    </inertial>
  </xacro:macro>

<!-- ____________   Rigid cable  _______________________-->
  <xacro:macro name="rigid_cable" params="prefix parent_link length radius mass">
    <link name="${prefix}rigid_link">
      <xacro:cylinder_inertia m="${mass}" r="${radius}" h="${length}" />
      <visual>
        <origin xyz="0 0 ${-length/2.0}"/>
        <geometry><cylinder radius="${radius}" length="${length}"/></geometry>
      </visual>
      <collision>
        <origin xyz="0 0 ${-length/2.0}"/>
        <geometry><cylinder radius="${radius}" length="${length}"/></geometry>
      </collision>
    </link>

    <joint name="${prefix}rigid_joint" type="universal">
      <parent link="${parent_link}"/>
      <child link="${prefix}rigid_link"/>
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
    </joint>
  </xacro:macro>


<!-- ____________   Flexible cable  _______________________-->
  <xacro:macro name="flexible_chain_generator" params="prefix parent current_num x y z total_num cable_len rad m theta">
  
    <link name="${prefix}virtual_${current_num}">
      <inertial>
        <mass value="0.0001"/> 
        <inertia ixx="1e-8" ixy="0" ixz="0" iyy="1e-8" iyz="0" izz="1e-8"/>
      </inertial>
      <visual name="visual">
        <geometry><sphere radius="0.001"/></geometry>
      </visual>
    </link>

    <xacro:if value="${current_num == 1}">
      <joint name="${prefix}joint_fixed_root" type="fixed">
        <parent link="${parent}"/>
        <child link="${prefix}virtual_${current_num}"/>
        <origin xyz="${x} ${y} ${z}" rpy="0 ${theta} 0"/> 
      </joint>
    </xacro:if>

    <xacro:unless value="${current_num == 1}">
      <joint name="${prefix}joint_x_${current_num}" type="continuous">
        <parent link="${parent}"/>
        <child link="${prefix}virtual_${current_num}"/>
        <origin xyz="0 0 ${cable_len}" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
        <dynamics damping="2.0" friction="1.0"/>
      </joint>
    </xacro:unless>

    <link name="${prefix}link_${current_num}">
      <xacro:cylinder_inertia m="${m}" r="${rad}" h="${cable_len}" />
      <visual name="visual">
        <origin xyz="0 0 ${cable_len/2.0}"/>
        <geometry><cylinder radius="${rad}" length="${cable_len}"/></geometry>
        <material name="gray"><color rgba="0.5 0.5 0.5 1.0"/></material>
      </visual>
      <collision name="collision">
        <origin xyz="0 0 ${cable_len/2.0}"/>
        <geometry><cylinder radius="${rad}" length="${cable_len}"/></geometry>
      </collision>
    </link>

    <gazebo reference="${prefix}link_${current_num}">
      <visual>
        <material>
          <ambient>0.5 0.5 0.5 1.0</ambient>
          <diffuse>0.5 0.5 0.5 1.0</diffuse>
        </material>
          <transparency>0</transparency>
      </visual>
    </gazebo>

    <joint name="${prefix}joint_y_${current_num}" type="continuous">
      <parent link="${prefix}virtual_${current_num}"/>
      <child link="${prefix}link_${current_num}"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <dynamics damping="0.01" friction="0.001"/>
    </joint>

    <xacro:if value="${current_num &lt; total_num}">
      <xacro:flexible_chain_generator 
        prefix="${prefix}" 
        parent="${prefix}link_${current_num}" 
        current_num="${current_num + 1}" 
        x="0" y="0" z="0"
        total_num="${total_num}" 
        cable_len="${cable_len}" rad="${rad}" m="${m}" 
        theta="${theta}" />
    </xacro:if>
  </xacro:macro>

  <xacro:macro name="uav_cable" params="prefix parent_link is_flexible x y z segments length radius mass orientation">
    <xacro:if value="${is_flexible}">
      <xacro:flexible_chain_generator 
        prefix="${prefix}" parent="${parent_link}" current_num="1"
        x="${x}" y="${y}" z="${z}" 
        total_num="${segments}" cable_len="${length/segments}" rad="${radius}" m="${mass/segments}" theta="${orientation}" />
    </xacro:if>
    <xacro:unless value="${is_flexible}">
      </xacro:unless>
  </xacro:macro>
</robot>