<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="core_mesh_path" value="${BASE_MESH_PATH}/core" />

    <xacro:macro name="core" params="parent_link prefix *joint_pose">

        <xacro:box_properties width="0.399681" length="0.399681" height="0.162643" />
        <xacro:com mass="0.99" x="0.000847" y="-0.000015" z="-0.001832" />

        <xacro:child_macro 
            name="c2f" 
            parent_link="${parent_link}"
            prefix="${prefix}" 
            file="core" 
            shape="box" 
            mesh_path="${core_mesh_path}">
            <xacro:insert_block name="joint_pose" />
        </xacro:child_macro>
        
    </xacro:macro>

</robot>