<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="panel" params="link_name mass width length heigth x y z material_name material_color">
    
    <link name="${link_name}">
      <inertial>
        <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
        <mass value="${mass}"/>
        <inertia 
          ixx="${(1/12) * mass * (length*length + heigth*heigth)}" ixy="0.0" ixz="0.0"
          iyy="${(1/12) * mass * (width*width + heigth*heigth)}" iyz="0.0"
          izz="${(1/12) * mass * (width*width + length*length)}"/>
      </inertial>

      <visual>
        <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
        <geometry>
          <box size="${width} ${length} ${heigth}"/>
        </geometry>
        <material name="${material_name}">
          <color rgba="${material_color}"/>
        </material>
      </visual>

      <collision>
        <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
        <geometry>
          <box size="${width} ${length} ${heigth}"/>
        </geometry>
      </collision>
    </link>

    <gazebo reference="${link_name}">
      <material>Gazebo/${material_name}</material>
    </gazebo>

  </xacro:macro>

</robot>