<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="prop"
        params="parent_link drone_prefix:='' prefix:='' motor_number prop_type:=cw *joint_pose">

        <xacro:property name="propeller_mesh_path"
            value="${BASE_MESH_PATH}/propellers/${prop_type}" />

        <xacro:hollow_cylinder_properties inner_radius="0.0025" outer_radius="0.101608"
            height="0.012855" />
        <xacro:com mass="0.005" x="0.0" y="0.0" z="0.001409" />

        <xacro:if value="${prefix != ''}">
            <xacro:property name="resolved_prefix" value="${drone_prefix}${prefix}_${prop_type}_propeller" />
        </xacro:if>
        <xacro:unless value="${prefix != ''}">
            <xacro:property name="resolved_prefix" value="${drone_prefix}${prop_type}_propeller" />
        </xacro:unless>

        <xacro:child_macro name="${resolved_prefix}" parent_link="${parent_link}"
            prefix="" file="${prop_type}" shape="hollow" mesh_path="${propeller_mesh_path}"
            joint_type="continuous">
            <xacro:insert_block name="joint_pose" />
        </xacro:child_macro>

        <gazebo>
            <plugin filename="gz-sim-multicopter-motor-model-system"
                name="gz::sim::systems::MulticopterMotorModel">
                <robotNamespace>${ns}${drone_prefix}</robotNamespace>
                <robotBaseLink>${drone_prefix}base_link</robotBaseLink>
                <jointName>${resolved_prefix}_joint</jointName>
                <linkName>${resolved_prefix}_link</linkName>
                <turningDirection>${prop_type}</turningDirection>
                <timeConstantUp>0.000001</timeConstantUp>
                <timeConstantDown>0.000001</timeConstantDown>
                <maxRotVelocity>1466</maxRotVelocity>
                <motorConstant>5.5e-06</motorConstant>
                <motorConstant>5.5e-06</motorConstant>
                <momentConstant>0.06</momentConstant>
                <commandSubTopic>command/motor_speed</commandSubTopic>
                <actuator_number>${motor_number}</actuator_number>
                <rotorDragCoefficient>0.00000175</rotorDragCoefficient>
                <rollingMomentCoefficient>1e-08</rollingMomentCoefficient>
                <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
                <motorType>velocity</motorType>
            </plugin>
        </gazebo>

    </xacro:macro>
</robot>