<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="child_macro"
        params="name parent_link mesh_path file prefix:='' shape:='' joint_type:=fixed *joint_pose">

        <xacro:property name="resolved_prefix" value="${prefix}${name}" />

        <joint name="${resolved_prefix}_joint" type="${joint_type}">
            <parent link="${parent_link}" />
            <child link="${resolved_prefix}_link" />
            <xacro:insert_block name="joint_pose" />
            
            <xacro:if value="${joint_type == 'continuous' or joint_type == 'revolute'}">
                <axis xyz="0 0 1" />
            </xacro:if>
            
            <xacro:if value="${joint_type == 'revolute'}">
                <limit lower="${lower}" upper="${upper}" velocity="${velocity}" effort="${effort}" />
                <dynamics damping="${damping}" friction="${friction}" />
            </xacro:if>
        </joint>

        <link name="${resolved_prefix}_link">
            <visual name="${resolved_prefix}_link_visual">
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${mesh_path}/${file}.dae" />
                </geometry>
            </visual>
            
            <collision name="${resolved_prefix}_link_collision">
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${mesh_path}/${file}.stl" />
                </geometry>
            </collision>

            <xacro:if value="${shape == 'hollow'}">
                <xacro:hollow_cylinder_inertial prefix="${resolved_prefix}_link" mass="${mass}"
                    inner_radius="${inner_radius}" outer_radius="${outer_radius}"
                    height="${height}">
                    <origin xyz="${com_x} ${com_y} ${com_z}" rpy="0 0 0" />
                </xacro:hollow_cylinder_inertial>
            </xacro:if>

            <xacro:if value="${shape == 'box'}">
                <xacro:box_inertial prefix="${resolved_prefix}_link" mass="${mass}"
                    x="${width}" y="${length}" z="${height}">
                    <origin xyz="${com_x} ${com_y} ${com_z}" rpy="0 0 0" />
                </xacro:box_inertial>
            </xacro:if>
        </link>

    </xacro:macro>

</robot>