<?xml version="1.0" encoding="utf-8"?>
<!--
File: properties.xacro
Project: Quadrotor Control Lab
File Created: Tuesday, 25th November 2025 9:28:21 AM
Author: nknab
Email: kojo.anyinam-boateng@ls2n.fr
Version: 1.0.0
Brief: Shape properties macros.
~~~~~
Last Modified: Tuesday, 25th November 2025 9:29:56 AM
Modified By: nknab
~~~~~
Copyright ©2025 nknab
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="com" params="mass x y z">

		<xacro:property name="mass" value="${mass}" scope="parent" />

		<!-- Center of Mass -->
		<xacro:property name="com_x" value="${x}" scope="parent" />
		<xacro:property name="com_y" value="${y}" scope="parent" />
		<xacro:property name="com_z" value="${z}" scope="parent" />
	</xacro:macro>

	<xacro:macro name="box_properties" params="width length height">

		<!-- Properties for a box -->
		<xacro:property name="width" value="${width}" scope="parent" />
		<xacro:property name="length" value="${length}" scope="parent" />
		<xacro:property name="height" value="${height}" scope="parent" />

	</xacro:macro>

	<xacro:macro name="hollow_cylinder_properties" params="inner_radius outer_radius height">

		<!-- Properties for the Hollow Cylinder -->
		<xacro:property name="inner_radius" value="${inner_radius}" scope="parent" />
		<xacro:property name="outer_radius" value="${outer_radius}" scope="parent" />
		<xacro:property name="height" value="${height}" scope="parent" />

	</xacro:macro>

	<xacro:macro name="rev_joint_props"
		params="lower upper velocity:=0.5 effort:=0.1 damping:=0.01 friction:=0.002">

		<xacro:property name="lower" value="${lower}" scope="parent" />
		<xacro:property name="upper" value="${upper}" scope="parent" />
		<xacro:property name="velocity" value="${velocity}" scope="parent" />
		<xacro:property name="effort" value="${effort}" scope="parent" />
		<xacro:property name="damping" value="${damping}" scope="parent" />
		<xacro:property name="friction" value="${friction}" scope="parent" />

	</xacro:macro>
</robot>